em{
    font-variant:small-caps;
    font-size:20px;
    word-spacing:2px;
    letter-spacing:1px;
    line-height:25px;
    strong{color: rgb(235, 14, 43);}
}
h2{
    color: white;
    text-shadow:0 0 5px red 
}
body{
    text-align: center;
}
strong{color: rgb(235, 14, 43);}
.doan1{color: royalblue;}
.doan2{color: rgb(11, 143, 39);}
.doan3{color: rgb(236, 166, 14);}