.aa{
    height:170px;
    width: 100%;
    background-color:rgb(84, 55, 247) ;
}
.aa0{
    width: 50px;
}
.a1{
    padding: 0px;
}
.aa1{
    width:300px;
    height: 470px;
}
.a2{
      text-align:center;
}
.chu h2 h5 {
    text-align: center;
}