.table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td{
    padding: 5px;
}
th{
    text-align: left;
}
.or{
    border-radius: 1000px;
    width: 50px;
}
.o1{
    background-color: gray;
}
.oi{
    font-family: sans-serif;
}